__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

config/config.yaml
config/test_data.yaml
logs/*
reports/*
screenshots/*
!logs/.gitkeep
!reports/.gitkeep
!screenshots/.gitkeep

test_data/import/*
test_data/export/*
test_data/bookmarks/*
test_data/members/*
test_data/extensions/*
test_data/Tools/*
!test_data/Tools/.gitkeep
!test_data/import/.gitkeep
!test_data/export/.gitkeep
!test_data/bookmarks/.gitkeep
!test_data/members/.gitkeep
!test_data/extensions/.gitkeep
